log:
  level: debug
  disable_sentry: true

db:
  url: "postgres://postgres:password@postgres:5432/postgres?sslmode=disable"

listener:
  addr: :8000

cop:
  disabled: true
  endpoint: "http://..."
  upstream: "http://..."
  service_name: url-shortener-svc
  service_port: 80
