services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER} -h localhost",
        ]
      interval: 2s
      timeout: 10s
      retries: 5
  url-shortener:
    build: .
    container_name: svc
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    command: ["run", "service"]
