services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
  url-shortener:
    build: .
    container_name: url-shortener
    ports:
      - "8000:8000"
    depends_on:
      - postgres
